* {
    font-family: 'Nunito', sans-serif;
    color: #1f1d2e;
}

body {
    margin: 0;
    padding: 0;
}


@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.flex-container > div {
    background-color: #c4a7e7;
    margin: 20px;
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
}

.column div{
    width: 180px;
    height: 120px;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}



ul {
    list-style-type: none;
}

li {
    margin: 15px;
}

.column {
    float: left;
    min-height: 100vh;
}

.left {
    /* flex: 1 0 20px; */
    width: 25%;
    background-color: #9ccfd8;
    
}
.right {

    /* flex: 4 0; */
    width: 75%;
    background-color: #e0def4;
}

.defaultpage {
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #555169;
    text-decoration: none;
}

a.sidebarlink {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: large;
    color: #1f1d2e;
}

.sidebarlink:hover, .home:hover {
    color: #555169;
    text-decoration: none;
}

.home {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
    text-decoration: none;
}

.plussign {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    text-align: center;
}